<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">DynaLibrary</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a ng-click="login()" ng-hide="isLoggedIn">Logga in</a></li>
      <li class="has-dropdown">
        <a ng-show="isLoggedIn">{{username}}</a>
        <ul ng-show="isLoggedIn" class="dropdown">
          <li><a ng-href="/myLoans">Mina l&aring;n</a></li>
          <li><a ng-click="logout()">Logga ut</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>