<form novalidate class="simple-form" ng-submit="addBook(bookToAdd)">
  <div class="row">
      <div class="small-12 medium-2 columns">
        <img ng-src="{{bookToAdd.thumbnail || 'http://placehold.it/128x168'}}">
      </div>
      <div class="small-12 medium-10 columns">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text" ng-model="bookToAdd.isbn" placeholder="ISBN" />
          </div>
          <div class="small-2 columns">
            <a ng-click="lookupBook(bookToAdd.isbn)" class="button postfix">H&auml;mta info</a>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 columns">
            <input type="text" ng-model="bookToAdd.title"  placeholder="Titel" />
          </div>
        </div>
        <div class="row collapse">
          <div class="small-12 columns">
            <input type="text" ng-model="bookToAdd.authors"  placeholder="F&ouml;rfattare" />
          </div>
        </div>
          <div class="row collapse number-in-stock">
            <label for="numberInStock">Antal ex</label>
            <div class="small-1 columns"><a class="button prefix" ng-click="decreaseStockNumber()" >-</a></div>
            <div class="small-2 columns"><input ng-model="bookToAdd.numberInStock" type="text" /></div>
            <div class="small-1 columns end"><a class="button postfix" ng-click="increaseStockNumber()" >+</a></div>
          </div>
          <div class="row">
            <div class="small-12 medium-3 columns end right">
              <button class="expand" type="submit">L&auml;gg till</button>
            </div>
          </div>
      </div>
  </div>
</div>
<input type="hidden" ng-model="bookToAdd.imageUrl" />
</form>
<pre>form = {{book | json}}</pre>