<div class="row">
  <div class="large-12 columns">
    <input type="text" placeholder="S&ouml;k" ng-model="searchText.title" />
  </div>
</div>
<div class="row book-row" ng-repeat="book in books | filter:searchText">
  <div class="small-4 medium-2 columns">
        <img ng-src="{{book.imageUrl || 'http://placehold.it/128x168' }}" />
  </div>
  <div class="small-8 medium-10 columns">
    <a href="books/{{book._id}}">{{book.title}}</a>
    <p>{{book.authors}}</p>
  </div>
</div>
<div class="row">
  <add-book></add-book> 
</div>